html,body,table,thead,tbody,tr,td,th{
    margin:0;
    padding:0;
    font-family: "microsoft yahei";
}
.tab{
    margin:30px auto;
    width:1000px;
    border:2px solid red;
}
.tab thead th,.tab tbody td{
    width:200px;
    height:40px;
    line-height: 40px;
    text-align: center;
    font-size: 20px;
}
.tab thead th{
    background: sandybrown;
    color:lawngreen;
}
.tab tbody td{
    color:#000;
}
.c0{
    background: lavender;
}
.c1{
    background: lemonchiffon;
}
.cursor{
    cursor:pointer;
}